// Define variables for your color scheme

// For example:
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #f8f8f8;
$middle-gray: #eaeaea;
$middle-grayer: #E7E7E7;
$dark-gray: #2d504f;
