div.dpo-offer {
	margin-top: 60px;
	.pain {
		display: flex;
    	justify-content: center;
    	h3.card-pain {
    		border: solid 1px red;
    		border-radius: 5px;
    		background-color: $red;
    		color: white;
    		font-size: 35px;
    		padding: 14px;
    		font-weight: 800;
    		margin-bottom: 40px;
    		width: 350px;
		}
	}
	.solution {
		display: flex;
    	justify-content: center;
    	h3.card-solution {
	    	border: solid 1px green;
	    	border-radius: 5px;
	    	background-color: $green;
	    	color: white;
	    	font-size: 35px;
	    	padding: 14px;
	    	font-weight: 800;
	    	width: 350px;
	    }
	}
}

div.pricing {
	margin-top: 60px;
	div.solution {
		margin-bottom: 30px;
	}
}

div.card-pricing {
	margin-bottom: 70px;
	h3 {
	margin-top: 40px;
	font-weight: 800;
	font-size: 35px;
	span {
		font-size: 20px;
		    font-weight: 200;
		}
	}
	p {
	margin-bottom: 30px;
	font-size: 20px;
	span {
		font-size: 15px;
		font-weight: 200;
		}
	}
}
