<div class="dpo-banner">
  <div class="banner-content text-center">
    <h1>Data Protection Officer as a Service</h1>
    <h2>Hands-On DPO Services When You Need Them</h2>
  </div>
</div> <!-- dpo banner -->

<div class="container dpo-offer">
	<div class="row">
		<div class="col-md-offset-4 col-md-4 col-xs-12">
			<div class="pain">
				<h3 class="card-pain text-center">
					Pain
				</h3>
			</div>
		</div>
		<div class="col-md-offset-1 col-md-10 col-xs-12">
			<p>
				Hiring a DPO is a pain for startups and scale-ups. The DPO has a <b>senior function</b> with the company but cannot be picked from its top management (CEO, CTO, etc.) to guarantee independence.</p><p>This usually means hiring externally. But DPOs are <b>expensive (and busy)</b> people.<p>Plus, there are not that many DPOs that combine <b>legal expertise</b> and <b>tech ability</b>.</p>
			</p>
		</div>
	</div>
		<div class="pricing">
			<div class="row">
				<div class="col-md-offset-4 col-md-4 col-xs-12">
					<div class="solution">
						<h3 class="card-solution text-center">
							Solution
						</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-1 col-md-10 col-xs-12">
					<p>
						<ul>
						<li>Tick the "DPO" box once and for all</li>
						<li>Registration at the competent data protection authority</li>
						<li>10 hours assistance from a <%= link_to "CIPP/E certified", "https://drive.google.com/file/d/1Bjb93q5LqmpOWuFoqV3b5JKE2BGt2ylJ/view?usp=sharing", target: "_blank" %> DPO when you need it most</li>
						<li>24/7 hotline assistance on personal data breach notifications</li>
						</ul>
					</p> 
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-1 col-md-10 col-xs-12">
					<div class="card-pricing text-center">
						<h3>
							€ 950/year
						</h3>
						<p>
							€95 EUR billed monthly
						</p>
						<div class="btn-get-started"><%= link_to "GET STARTED", "https://avdbranden.typeform.com/to/B50TIV", target: "_blank", class: "btn btn-primary btn-lg frame-btn" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>