<div class="dpo-banner">
  <div class="banner-content text-center">
    <h1>Data Protection Officer as a Service</h1>
    <h2>Hands-On Services When You Need Them</h2>
   	<%= link_to "Get in touch", "#", target: "_blank", class: "btn btn-primary btn-lg frame-btn" %>
  </div>
</div>