<!-- Main banner-->

<div class="main-banner">
  <div class="banner-content text-center">
    <h1>Solving legal for tech businesses</h1>
   	<%= link_to "Hire me", "#", target: "_blank", class: "btn btn-primary btn-lg frame-btn" %>
  </div>
</div>

<!-- Presentation -->

<div class="container text-center">
	<div class="row">
		<h1>Adrien in a nutschel</h1>
	</div>
</div>

<div class="container lined-middle-gray"></div> 

<div class="container presentation">
  <div class="row volet-picture">
    <div class="col-md-offset-1 col-md-3 col-xs-12">
      <%= image_tag "adrien.jpg", class: "img-responsive img-thumbnail volet-img" %>
    </div>
    <div class="col-md-offset-1 col-md-6 col-xs-12">
      <p>Hello world!<br>My name is Adrien.<br>If you are a tech professional, I would be happy cracking down on your legal woes. My mission it to take legal out of your way so you can focus on what matters most to you : growing your business.<br>In a nutshell, I read the law at the University of Louvain (both at the French-speaking and Dutch-speaking part) and at the University of Cambridge (where I obtained a post-grad called the LL.M.).<br>I earned my stripes as a business lawyer in international law firms Linklaters and CMS, mainly dealing with intellectual property and data protection matters. Most and foremost, I learned coding at Le Wagon school, which makes me a kind of a rare breed in the legal sector. I crafted this website myself using Ruby as main programming language (with the help of the Rails framework). You can see (and contribue to) the source code on this GitHub public repository.</p>
    </div>
  </div> <!-- .row -->
