
<div class="container under-construction text-center">
	<div class="row">
		<div class="col-xs-12">
			<h1>Digital Justice</h1>
		</div>
	</div>
</div>

 <div class="container lined-middle-gray lined-middle-gray-1"></div> 

 <div class="container">
  	<div class="row">
    	<div class="col-md-6 col-xs-12">
      		<div class="book-pres">
      			<h4 class="book-titles">Justice Is Falling Short of Expectations</h4>
		    	<p>Technology impacts every sector of society but justice.</p>
           		<p>There is <b>a wide gap</b> between <b>how justice is provided</b> to ordinary citizens and <b>their expectations</b>. Citizens have been used to benefit from a service that is online, of a good quality, fast and affordable. Justice seems at odds with those features. Justice evolves in a paper world, is slow, expensive and quality is not always optimal.</p>
            	<p>What can be done about it? This is the question I ask in my book "Les robots à l'assaut de la justice". In this essay, I argue that the way forward is to foster a <b>more efficient justice</b> i.e. a service offering a better ratio value-money-speed.</p>
            	<h4 class="book-titles">How to Make the Courts More Efficient?</h4>
		        <p>Order the book to find out.</p>
		        <p>You can buy it here or at your regular bookstore (the book is in French).</p>
		        <div class="text-center">
		        	<%= link_to "ORDER THE BOOK", "https://www.larcier.com/fr/les-robots-a-l-assaut-de-la-justice-2019-9782802763222.html", target: "_blank", class: "btn btn-primary btn-lg frame-btn btn-book" %>	
		        </div>
            <p>Ideas on how to build a more efficient justice?</p>
            <p>Share them using the form below or drop me an email at <%= link_to "adrien@lawfortech.io", "mailto:adrien@lawfortech.io" %>.</p>
            <div class="text-center">
              <div class="btn-get-started"><%= link_to "CONTRIBUTE", "https://avdbranden.typeform.com/to/B50TIV", target: "_blank", class: "btn btn-success btn-lg btn-book" %>
              </div>
            </div>
    		</div>
   		 </div>
   		 	<div class="col-md-6 col-xs-12">
   		   		<div class="book-picture">
   		    		<%= image_tag "roasju.jpg", class: "img-responsive" %>
   		   		</div>
   		 	</div>
  	</div> <!-- .row -->
</div> <!-- .container -->
