<div class="container heading-title text-center">
	<div class="row">
		<div class="col-xs-12">
			<h1>Pricing</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="lined-middle-gray">
		</div>
	</div>
</div>


<div class="container pricing-context">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 col-xs-12">
			<p>
				When I visit the "Our Fee" section of a business law firm, I find it hilarious how lawyers manage to stress the importance of transparency of their fees while <b>providing absolutely no hard figures</b>. This lack of transparency is not unique to the legal sector but it is certainly exacerbating the tensions between lawyers' and clients' expectations.
			</p>
			<p>
				To me though, <b>transparency is key</b>. 1) It allows you, the potential client, to have at least a ballpark idea of <b>how much you will pay</b> for my services (you will see that I try to standardise most of my work). 2) It allows me not to waste time on quoting cheap clients who just want to compare prices (working for such clients leaves me cold). Publicy displaying my rates might be risky (since "this is not an industry standard" and "lawyers woud never do that") but I am confident that doing so will <b>attract the right kind of clients</b> who value openness and efficiency.
			</p>
			<p>
				Without further ado, here is what you can expect when hiring me for the following deliverables (note that fees are excluding VAT). 
			</p>
		</div>
	</div>
</div>

<div class="container pricing-table">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-xs-12">
			<table class="table table-bordered table-hover">
			  <thead class="table-pricing-header">
			    <tr>
			      <th scope="col">Deliverable</th>
			      <th scope="col">Pricing</th>
			      <th scope="col">Extra Info</th>
			    </tr>
			  </thead>
			  <tbody class="table-pricing-body">
			    <tr>
			      <td>Privacy Policy (for charities)</td>
			      <td><b>FREE</b></td>
			      <td>Less money spent on legal stuff means more money spent on charitable goals</td>
			    </tr>
			    <tr>
			      <td>Privacy Policy (for consumers)</td>
			      <td><b>€ 300</b></td>
			      <td>€ 150 for each of an additional English, French or Dutch version</td>
			    </tr>
			    <tr>
			      <td>Privacy Policy (for employees)</td>
			      <td><b>€ 400</b></td>
			      <td>€ 200 for each of an additional English, French or Dutch version</td>
			    </tr>
			    <tr>
			      <td>Privacy Policy (in the healthcare sector)</td>
			      <td><b>€ 600</b></td>
			      <td>€ 250 for each of an additional English, French or Dutch version</td>
			    </tr>
			    <tr>
			      <td>Cookies Usage Policy</td>
			      <td><b>€ 300</b></td>
			      <td>€ 150 for each of an additional English, French or Dutch version</td>
			    </tr>
			    <tr>
			      <td>Records of processing activities (art. 30 GDPR)</td>
			      <td><b>€ 850</b></td>
			      <td>In English, including a short procedure to maintain the records</td>
			    </tr>
			    <tr>
			      <td>Template data processing agreement/addendum (controller-friendly)</td>
			      <td><b>€ 450</b></td>
			      <td>€ 200 for each of an additional English, French or Dutch version</td>
			    </tr>
			    <tr>
			      <td>Template data processing agreement/addendum (processor-friendly)</td>
			      <td><b>€ 600</b></td>
			      <td>€ 250 for each of an additional English, French or Dutch version</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="lined-middle-gray">
		</div>
	</div>
</div>

<div class="container text-center pricing-end">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 col-xs-12">
			<p>
				For specific projects, I will prepare a <b>fee quote</b> based on the below rates (excluding VAT). Note that I will try most of the time to work on the basis of a forfait.
			</p>
		</div>
	</div> <!-- .row -->
	<div class="row">
		<div class="col-md-offset-4 col-md-4 col-xs-12">	
			<table class="table table-bordered table-hover table-rate">
			  <thead class="table-pricing-header">
			    <tr">
			      <th scope="col">Timing</th>
			      <th scope="col">Rate</th>
			    </tr>
			  </thead>
			  <tbody class="table-pricing-body">
			    <tr>
			      <td>Hourly rate</td>
			      <td><b>€ 165</b></td>
			    </tr>
			    <tr>
			      <td>Man-day rate</td>
			      <td><b>€ 950</b></td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div> <!-- .row -->
	<div class="row">
		<div class="col-md-offset-1 col-md-10 col-xs-12">
			<p>For longer projects, I will <b>adapt my man-day rate</b> so that it remains manageable at your end. I will always try to find the arrangement that best suits your expectations.
			</p>
			<p>Still sounding good so far? Excellent! </p>
			<p>Get started today! Click on the button below or drop me an email at <%= link_to "adrien@lawfortech.io", "mailto:adrien@lawfortech.io" %>.</p>
			<div class="btn-get-started"><%= link_to "GET STARTED", "https://avdbranden.typeform.com/to/B50TIV", target: "_blank", class: "btn btn-primary btn-lg frame-btn" %>
			</div>
		</div>
	</div> <!-- .row -->
</div> <!--. container -->