<div class="container text-center nutshell">
	<div class="row">
		<h1>Smart Contracts</h1>
	</div>
</div>

 <div class="container lined-middle-gray lined-middle-gray-1"></div> 

 <div class="container presentation">
  	<div class="row">
    	<div class="col-md-offset-1 col-md-3 col-xs-12">
      		<div class="volet-picture">
       		<%= image_tag "smartcontracts.png", class: "img-responsive" %>
      		</div>
    	</div>
    	<div class="col-md-7 col-xs-12">
      		<div class="adrien-bio">
		        <p>Smart Contracts is a field I am currently investing a lot of my time in.</p>
		        <p>I soon will be able to code and sign Smart Contracts on the Ethereum blockchain and hope to being able to offer this a service to my clients.</p>
		        <p>So stay tuned !</p>	
    		</div>
   		 </div>
  	</div> <!-- .row -->
</div> <!-- .container -->