<div class="container text-center heading-title">
	<div class="row">
		<h1>Smart Contracts</h1>
	</div>
</div>

 <div class="container lined-middle-gray lined-middle-gray-1"></div> 

 <div class="container sc-presentation">
  	<div class="row">
    	<div class="col-md-offset-1 col-md-3 col-xs-12">
      		<div class="volet-picture">
       		<%= image_tag "smartcontracts.png", class: "img-responsive img-ethereum" %>
      		</div> 
    	</div>
    	<div class="col-md-7 col-xs-12">
      		<div class="adrien-bio">
		        <p>A Smart Contract is a "contract" that is "smart" because it is both <b>documenting</b> and <b>executing</b> the terms of an agreement between parties.</p>
            <p>I am teaching lawyers how to design and sign their first Smart Contract on the <%= link_to "Ethereum", "https://en.wikipedia.org/wiki/Ethereum", target: "_blank" %> blockchain (you can see the Ethereum logo on the picture on the left). I do this in the context of the <%= link_to "Law Is Code", "https://lawiscode.io", target: "_blank" %> initiative which I set up with a software engineer (and friend).</p>
            <p>Smart Contracts (and more broadly blockchain) is a field of study in which I am currently <b>investing a lot of my time</b>.</p>
		        <p>If everything goes to plan, I will soon be able to provide clients with <b>slick home-made Smart Contracts</b>. I don't think clients will accept the bulky value chain where they first ask a lawyer to draft a plain-English contract and then ask an engineer to translate it into a Smart Contract. Bettet have one tech-enabled lawyer  do the job once and right from the start.</p>
		        <p>Stay tuned for more exciting news from the Smart Contracts universe!</p>	
    		</div>
   		 </div>
  	</div> <!-- .row -->
</div> <!-- .container -->