div.lined {
	border-top: solid 3px $light-gray;
}

div.lined-middle-gray {
  border-top: solid 3px $middle-gray;
}

div.lined-down {
  border-bottom: solid 3px $light-gray;
}

div.ligh-gray {
  background-color: $light-gray;
}

div.title {
  margin-top: 100px;
  h1 {
    margin-bottom: 15px;
  }
}

body {
  background-color: $light-gray
}

div.footer {
  .facebook-logo {
    font-size: 30px;
    color: #4267b2;
  }
}


div.volet {
  margin-top: 60px;
  padding-top: 50px;
  padding-bottom: 45px;
  h2 {
    font-size: 44px;
  }
  p {
    text-align: left;
    &.volet-box {
      font-weight: 600;
      padding-bottom: 15px;
    }
  }
  .volet-img {
    margin-top: 30px;
  }
}